[Unit]
Description=Go Full Stack Web Application
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/cs408-go-stack
ExecStart=/home/ubuntu/cs408-go-stack/go-full-stack
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

